body{
    background: white;
    font-family: poppins;
    margin: 0;
    padding: 0;


}
ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -2opx;
    list-style: none;

}
ul li{
    margin:20px;
}
ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;

}
.Bigburger {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
    
}
.Bigburger h2{
    font-family: poppins;
    margin-bottom: 5%;

}
.Bigburger p{
    font-family: poppins;
    font-size: x-large;

}
.Bigburger img{
    background-color: yellow;
    float: right;


}



.Qufade{
    flex-direction: row;
    display: flex;
    background: whitesmoke;


}
.QBurgers {
    flex-direction: column;
    border: solid black;
    flex-wrap: wrap;
    border-radius: 20%;
    font-family: poppins;
    margin:25px;
    height: 100px;
    padding:50px;

}
.imageQ{
    color: yellow;
    text-align: center;
}


.QBurgers header{
    color: maroon;
    font-size: x-large;
}

.OMenu {
background-color: wheat;
flex-direction:row;
display:flex;
flex-wrap:wrap;
}

.Menu1 {
flex-direction: column;
display: flex;
border:0em;
border:solid black;
flex-wrap: wrap;
margin: 20px;
border-radius: 10%;
margin-left: 50px;
margin-right: 50px;
}

.Menu2 {
flex-direction: column;
display: flex;
border:0em;
flex-wrap: wrap;
display: flex;
border: solid black;
border-radius: 10%;
margin: 20px;
margin-left: 50px;
margin-right: 50px;
}
.DoubleDecker {
    background-color: yellow;
}