body{
    background: white;

}
.container {
    /* margin-left: auto; */
    margin-right: auto;
    /* display: flex; */
    border: 1px solid black;

}
.fltbg{
    display: flex;
    float: right;
    background-color: #fec12b;
}

.hoca{
    justify-content: right;
    display: flex;
    border: 1px solid black;
    height: 30px;
    flex-direction: row;
    font-size: 20px;
    /* margin-right: -40px; */

}
header{
    background-color: white;
    height: 120px;
    text-align: left;
}
h2{
    /* background: yellow; */
    color: black;
    /* border: 1px solid black; */
    margin-top: 100px;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    /* background: whitesmoke; */
    /* color: black; */
    font-size: medium;
    width: 350px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
ol{
    /* border: 1px solid black; */
    /* width: 940px; */
    display: flex;
    }
.Quality Burgers{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    color: brown;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin: 20px;

}
.Fast Delivery{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: brown;

}
.Delicious meals{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    width: 300px;
    height: 300px;
    margin: 20px;
    

}
.burger1{
    border: 1px solid black;
    width: 300px;
    height: 300px;
}
.burger1 p{
    width: 300px;
}
.burger2{
    border:1px solid black;
    width: 300px;
    height: 300px;
    margin: 20px;
}
.burger2 p{
    width: 300px;
    /* display: flex; */
}    
.burger3{
    border:1px solid black;
    width: 300px;
    height:300px;
}
.burger3 p{
    width: 300px;
    /* display: flex; */
}    